<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
<div class="container">
    <h1>Soil Moisture Sensor A0</h1>
    <div id="preview-textfield" class="preview-textfield">1,250</div>
    <canvas id="demo" height="300" width="300"></canvas>

</div>
<script src="static/gauge.js"></script>


<script>
    function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}

  var opts = {
   angle: -0.25,
      lineWidth: 0.2,
      radiusScale:0.9,
      pointer: {
        length: 0.6,
        strokeWidth: 0.05,
        color: '#000000'
      },
      staticLabels: {
        font: "14px sans-serif",
        values: [6000, 15787, 21305, 26000, 30000],
        labels: ["verywet", "good", "dry", "superdry", "" ],
        fractionDigits: 0
      },
      staticZones: [
         {strokeStyle: "#00008b", min: 6000, max: 15787},
         {strokeStyle: "#30B32D", min: 15787, max: 21305},
         {strokeStyle: "#FFDD00", min: 21305, max: 26000},
         {strokeStyle: "#F03E3E", min: 26000, max: 30000},
      ],
      limitMax: false,
      limitMin: false,
      highDpiSupport: true
};
            var target = document.getElementById('demo'); // your canvas element
            var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
            document.getElementById("preview-textfield").className = "preview-textfield";
            gauge.setTextField(document.getElementById("preview-textfield"));
            gauge.maxValue = 30000; // set max gauge value
            gauge.setMinValue(6000);  // set min value
            gauge.set(15000); // set actual value

            var ws = new WebSocket("ws://192.168.1.2:8000/ws");
            ws.onmessage = function(event) {
                var content = document.createTextNode(event.data)
                gauge.set(event.data)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }

</script>

</body>
</html>
