<!DOCTYPE html>
<html>
<head>
    <style>

    .masonry-brick {
    color: #000000;
    background-color: #FFF;
    display: inline-block;
    padding: 5px;
    width: 100%;
    margin: 1em 0; /* for separating masonry-bricks vertically*/
}

@media only screen and (min-width: 480px) {
    .masonry-container {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 768px) {
    .masonry-container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 960px) {
    .masonry-container {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
    </style>
</head>
<body>

<script src="static/gauge.js"></script>
<script src="http://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/linear/gauge.min.js"></script>


<div class="masonry-container">
   <div class="masonry-brick">
       <div class="container">
            <h1>Soil Moisture Sensor H0</h1>
            <div id="preview-textfield" class="preview-textfield">1,250</div>
            <canvas id="demo" height="300" width="300"></canvas>
        </div>
   </div>

   <div class="masonry-brick">
       <div class="container">
            <h1>Soil Moisture Sensor H1</h1>
            <div id="preview-textfield1" class="preview-textfield1">1,250</div>
            <canvas id="demo1" height="300" width="300"></canvas>
        </div>
   </div>

   <div class="masonry-brick">
       <div class="container">
            <h1>Soil Moisture Sensor H2</h1>
            <div id="preview-textfield2" class="preview-textfield2">1,250</div>
            <canvas id="demo2" height="300" width="300"></canvas>
        </div>
   </div>

   <div class="masonry-brick">
       <div class="container">
            <h1>Soil Moisture Sensor H3</h1>
            <div id="preview-textfield3" class="preview-textfield3">1,250</div>
            <canvas id="demo3" height="300" width="300"></canvas>
        </div>
   </div>

   <div class="masonry-brick">
       <div class="container">
            <h1>Soil Moisture Sensor H4</h1>
            <div id="preview-textfield4" class="preview-textfield4">1,250</div>
            <canvas id="demo4" height="300" width="300"></canvas>
        </div>
   </div>

    <div class="masonry-brick">
       <div class="container">
            <h1>Air Temp</h1>
           <div id="air-temp" class="air-temp">0</div>
            <canvas id="demo5" height="500" width="300"></canvas>
        </div>
   </div>


</div>


<script>

  var opts = {
   angle: -0.25,
      lineWidth: 0.2,
      radiusScale:0.9,
      pointer: {
        length: 0.6,
        strokeWidth: 0.05,
        color: '#000000'
      },
      staticLabels: {
        font: "14px sans-serif",
        values: [6000, 15787, 21305, 26000, 30000],
        labels: ["verywet", "good", "dry", "superdry", "" ],
        fractionDigits: 0
      },
      staticZones: [
         {strokeStyle: "#00008b", min: 6000, max: 15787},
         {strokeStyle: "#30B32D", min: 15787, max: 21305},
         {strokeStyle: "#FFDD00", min: 21305, max: 26000},
         {strokeStyle: "#F03E3E", min: 26000, max: 30000},
      ],
      limitMax: false,
      limitMin: false,
      highDpiSupport: true
};
            var target = document.getElementById('demo'); // your canvas element
            var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
            document.getElementById("preview-textfield").className = "preview-textfield";
            gauge.setTextField(document.getElementById("preview-textfield"));
            gauge.maxValue = 30000; // set max gauge value
            gauge.setMinValue(6000);  // set min value


            var target1 = document.getElementById('demo1'); // your canvas element
            var gauge1 = new Gauge(target1).setOptions(opts); // create sexy gauge!
            document.getElementById("preview-textfield1").className = "preview-textfield1";
            gauge1.setTextField(document.getElementById("preview-textfield1"));
            gauge1.maxValue = 30000; // set max gauge value
            gauge1.setMinValue(6000);  // set min value

            var target2 = document.getElementById('demo2'); // your canvas element
            var gauge2 = new Gauge(target2).setOptions(opts); // create sexy gauge!
            document.getElementById("preview-textfield2").className = "preview-textfield2";
            gauge2.setTextField(document.getElementById("preview-textfield2"));
            gauge2.maxValue = 30000; // set max gauge value
            gauge2.setMinValue(6000);  // set min value

            var target3 = document.getElementById('demo3'); // your canvas element
            var gauge3 = new Gauge(target3).setOptions(opts); // create sexy gauge!
            document.getElementById("preview-textfield3").className = "preview-textfield3";
            gauge3.setTextField(document.getElementById("preview-textfield3"));
            gauge3.maxValue = 30000; // set max gauge value
            gauge3.setMinValue(6000);  // set min value

            var target4 = document.getElementById('demo4'); // your canvas element
            var gauge4 = new Gauge(target4).setOptions(opts); // create sexy gauge!
            document.getElementById("preview-textfield4").className = "preview-textfield4";
            gauge4.setTextField(document.getElementById("preview-textfield4"));
            gauge4.maxValue = 30000; // set max gauge value
            gauge4.setMinValue(6000);  // set min value


            var tempGauge =  new LinearGauge({
                                renderTo: 'demo5',
                                width: 120,
                                height: 400,
                                units: "°F",
                                minValue: 0,
                                startAngle: 90,
                                ticksAngle: 180,
                                valueBox: false,
                                maxValue: 110,
                                majorTicks: [
                                    "0",
                                    "10",
                                    "20",
                                    "30",
                                    "40",
                                    "50",
                                    "60",
                                    "70",
                                    "80",
                                    "90",
                                    "100",
                                    "110"
                                ],
                                minorTicks: 2,
                                strokeTicks: true,
                                highlights: [
                                    {
                                        "from": 95,
                                        "to": 110,
                                        "color": "rgba(200, 50, 50, .75)"
                                    }
                                ],
                                colorPlate: "#fff",
                                borderShadowWidth: 0,
                                borders: false,
                                needleType: "arrow",
                                needleWidth: 2,
                                needleCircleSize: 7,
                                needleCircleOuter: true,
                                needleCircleInner: false,
                                animationDuration: 1500,
                                animationRule: "linear",
                                barWidth: 10,
                                value: 35
                            })
            tempGauge.draw()

            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var msg = JSON.parse(event.data)
                gauge.set(msg.soil_sensor_0)
                gauge1.set(msg.soil_sensor_1)
                gauge2.set(msg.soil_sensor_2)
                gauge3.set(msg.soil_sensor_3)
                gauge4.set(msg.soil_sensor_4)
                var airTemp = document.getElementById('air-temp').textContent = msg.air_temp + " °F"
                tempGauge.update({
                   animation: true,
                   value: msg.air_temp
                })
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }



</script>
</body>
</html>
