<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="video" src="">
<script>
    /*global $, WebSocket, console, window, document*/
"use strict";

/**
 * Connects to Pi server and receives video data.
 */
var client = {

    // Connects to Pi via websocket
    connect: function (port) {
        var self = this, video = document.getElementById("video");

        this.socket = new WebSocket("ws://192.168.1.5:8000/"+"video-stream");


        // Currently, all returned messages are video data. However, this is
        // extensible with full-spec JSON-RPC.
        this.socket.onmessage = function (messageEvent) {
            video.src = "data:image/jpeg;base64, " + messageEvent.data
        };
    },

};
            client.connect(8000);

</script>
<!--<video id="video" src="http://192.168.1.5:8001/stream.mjpg" autoplay="autoplay" > </video>-->

</body>
</html>
